@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --color-dark-grey: #666; 
  --color-dark-grey2: #222; 
  --color-grey3: #444;
  --color-light-grey: #f4f5f7;
  --color-light-grey2: #ededed;
  --btn-color-text: white;
  --box-shadow1: #091e424f;
  --box-shadow2: #091e4240;
  --error: #fa7030;
  --info: #73ffa2;
}

* {
  font-family: Roboto;
  font-size: 1em;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: var(--color-dark-grey2);
  height: 98%;
  width: 90%;
  margin-left: 25px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  color: black;
  margin-top: 20px;
}
h2 {
  font-size: 0.8em
}

.titel {
  font-weight: bold;
}

.pagetitle {
  padding: 1em;
  font-size: 2em;
  background-color: var(--color-light-grey);
  display: flex;
  align-items: flex-end;
  gap: 100px;
}

.pagetitle img {
  height: 120px;
}

.pagefooter {
  background-color: var(--color-light-grey);
  margin-top: 20px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.pagefooter div {
  margin-left: 100px;
}

.pagefooter div a span {
  font-size: 14px;
  margin-right: 15px;
}

li {
  list-style: none;
}

.navbar {
  background-color: var(--color-light-grey);
}

.actions button {
  vertical-align: bottom;
  font-size: 1em;
}

.actions a span {
  margin: 10px;
  font-size: 36px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar ul li {
  padding: 4px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-dark-grey2);
}

.grid {
  display: grid;
}

.bodyheader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.generalcontent {
  background-color: var(--color-light-grey);
  margin: 2px;
  padding: 8px;
  border-radius: 5px;
}

.gewichtsklasse-meta {
  font-size: 0.8em;
}

.listeneintrag {
  background-color: white;
  box-shadow: 0 0 1px 0 var(--box-shadow1),0 2px 4px -1px var(--box-shadow2);
  margin: 2px;
  padding: 8px;
  border-radius: 2px;
  display: flex;
  font-size: 0.8em;
  min-width: 200px;
}

.justifycontent {
  justify-content: space-between;
}

.gewichtsklasse-teilnehmer-meta {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.gewichtsklasse-teilnehmer-meta span {
  font-size: 0.8em;
}

.gewichtsklassen {
  display: flex;
  overflow: auto;
}

.gewichtsklassen .teilnehmerliste {
  width: 150px;
}

.wettkaempferliste-wettkaempfer > div {
  width: 120px;
  display: flex;
  align-items: flex-end;
}

.listeneintrag-titel {
  font-weight: bold;
  font-size: 1.2em;
  width: 300px !important;
}

.errormsg {
  background-color: var(--error);
  display: grid;
  align-items: center;
  text-align: center;
  color: white;
  height: 2em;
  animation: hideDiv 0.5s forwards 5s;
}

.infomsg {
  background-color: var(--info);
  display: grid;
  align-items: center;
  text-align: center;
  height: 2em;
  animation: hideDiv 0.2s forwards 5s;
}

@keyframes hideDiv {
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.generalcontent form {
  display: flex;
  flex-direction: column;
}

.wettkaempfer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.wettkaempfer > label {
  width: 180px;
  flex-shrink: 0;
}

.wettkaempfer.name {
  font-weight: bold;
}

.wd100 {
  width: 100px;
}

.wd300 {
  width: 300px;
}

.wettkampfgruppe {
  margin-bottom: 2em;
}

.vs div{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 15%;
}

.vs div.center {
  width: 40%;
}

.hidden {
  display: none;
}

.ergebnis {
  display: flex;
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  gap: 160px;
}

.ergebnis_eintrag {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Stil für die Labels in einem Eintrag */
.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.row label {
  margin: 20px;
}

.weiss {
  background-color: ghostwhite;
}

.braun {
  background-color: brown;
}

.gelb {
  background-color: gold;
}

.orange {
  background-color: #fa7030;
}

.gruen {
  background-color: forestgreen;
}

.blau {
  background-color: cornflowerblue;
}

.vorhanden {
  background-color: #73ffa2;
}

@media print {
  /* Verstecke bestimmte Elemente oder Pseudoelemente im Druckmodus */
  .no-print {
    display: none;
  }

  /* Ändere das Styling für den Druckmodus */
  body {
    font-size: 12pt;
  }
}

tr {
  border: 1px solid black;
}