<!DOCTYPE html>
<html lang="de">
<head>
{{> header}}
</head>
<body>
  {{> title}}
  {{> nav}}

  <div>
    <form action="/add-result" method="POST">
      <h2>Wettkampfergebnisse eintragen</h2>
      <label>Name des Siegers:</label>
      <input type="text" name="winner" required/><br/>
      <label>Kampfzeit:</label>
      <input type="number" name="fightTime" required/><br/>
      <label>Wertung:</label>
      <input type="number" name="score" required/><br/>
      <label>Strafen:</label>
      <input type="number" name="penalties" required/><br/>
      <button type="submit">Ergebnis eintragen</button>
    </form>
  </div>
  
  {{> footer}}
</body>
</html>