<!DOCTYPE html>
<html>
<head>
  {{> header}}
</head>
<body>
  {{> title }}
  {{> nav }}

  <div>
    <div class="bodyheader">
      <h2>Turnierübersicht</h2>
      <div>Anzahl der Kämpfer: {{anzahlwk}}</div>
    </div>
  </div>
  
  <div>
    <h1>Software des des 1.JC-Großkrotzenburg</h1>
  </div>

  <div>
    <button type="button" onclick="createWKGroups()">Gruppen bilden</button>
  </div>

  {{> footer}}
</body>
<script type="text/javascript">
  const createWKGroups = () => {fetch("/turnier/wettkampfgruppen", {method: "POST"})};
</script>

</html>