<!DOCTYPE html>
<html>
<head>
    <title>Turnierübersicht</title>
</head>
<body>
  {{> nav }}

  <div>Anzahl der Kämpfer: {{anzahlwk}}</div>
  
  <button type="button" onclick="createWKGroups()">Gruppen bilden</button>
  <a href="/turnier/gewichtsklassen">Gewichtsklassen</a>

</body>
<script type="text/javascript">
  const createWKGroups = () => {fetch("/turnier/wettkampfgruppen", {method: "POST"})};
  
</script>

</html>