<!DOCTYPE html>
<html>
<head>
    <title>
        titel
    </title>
</head>
<body>
  <div class="">Name</div>
  <div>{{name}}</div>
  <div class="">Verein</div>
  <div>{{verein.name}}</div>
  <div class="">Alter</div>
  <div>{{alter}}</div>
  <div class="">Gewicht</div>
  <div>{{gewicht}}</div>
</body>
</html>