<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/wettkaempfer">Liste der Wettkämpfer</a></li>
    <li><a href="/wettkaempfer-neu">Wettkämpfer eintragen</a></li>
    <li><a href="/turnieruebersicht">Turnierübersicht</a></li>
  </ul>
</nav>
